body{
    background-color:  white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.container{
    width:90%;
    max-width:700px;
    background:#ffe4cc;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    margin: auto;
    margin-top:70px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#searchInput{
    width:95%;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-bottom:50px;
    font-size:16px;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:25px;
}

.input-box input, .input-box textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.input-box button{
    padding:12px;
    background:#994a00;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
}

.notes-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
}

.note{
    padding:15px;
    border-radius:10px;
    color:white;
    position:relative;
    word-wrap:break-word;
    min-height:130px;
}

.note h3{
    margin-bottom:8px;
}

.note-buttons{
    position:absolute;
    bottom:10px;
    right:10px;
}

.note-buttons button{
    margin-left:5px;
    padding:6px 12px;
    border:none;
    border-radius:5px;
    font-size:12px;
    cursor:pointer;
    color:white;
}

.edit{ background:#007bff; }
.delete{ background:#ff4d4d; }